{% load static %}
{% load i18n %}
<html>
<head>
    <title>{% trans "réinitialisation du mot de passe" %}</title>
{% include "base_site/base_css_js.html" %}
</head>
<body class='my-blue' style="background-image:url('{% static 'base_site/images/general/background.png' %}'); background-repeat:reapeat;">
<!--loader for my form-->
<div id='pageloader'>
    <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<!--end loader -->
<div class="row">
<div class='col l4 offset-l4 m6 offset-m2 s10 offset-s1 left-align'>
            <br />
            <br />
            
           <a href="{% url 'pwb:home' %}">
                <img src="{% static 'shared/images/general/protogons_logo_blanc.png' %}" style='width:100px !important; height:auto !important' />
            </a>
            <br />
            <span class='white-text' style='font-size:25px'><b class="fup">{% trans "demande d'un nouveau mot de passe" %}</b></span>
           </div>
    <div class='col s12 center-align'>
   
    </div>

</div>
<div class="row signin-up">

    <div class="col l4 offset-l4 m6 offset-m2 s10 offset-s1 z-depth-1 white">
        <br />
       <b class="fup">{% trans "veuillez entrez votre nouveau mot de passe:" %}</b>
        <br />
        <form action="{% url 'ppwdreset' %}" method="post" id = "form_perform_new_password">
            {% csrf_token %}
            <div class='row'>
                <div class='input-field col s12'>
                    <input type='password' name='password1' id='password1' required='' class='validate' />
                    <label for='password1' class="fup">{% trans "mot de passe" %}</label>
                </div>
                <div class='input-field col s12'>
                    <input type='password' name='password2' id='password2' required='' class='validate' />
                    <label for='password2' class="fup">{% trans "confirmez le mot de passe" %}</label>
                </div>
                <br />
                <div class='col s12'>
                    <button type='submit' class='btn btn-large my-orange b z-depth-1 input-text rounded fup'>
                        {% trans "réinitialiser" %}
                    </button>
                    <br />

                </div>
            </div>
        </form>
        <br />
        <br />
       
        <br />
</div>
        <!-- <a href="{% url 'pwb:home' %}" class="btn btn-flat transparen z-depth-0"><i class="material-icons left">home</i>Retourner a l'acceuil</a>

    <div class="col l6  valign-wrapper center-align">
        <center>
            <img src="{% static 'shared/images/general/protogons_complet.png' %}" width="50%" class="center" />
            <br />
            <br />
            <br />
            <a href="{% url 'signup' %}" class='white-text b btn btn-large light-blue darken-4 rounded ' style='font-size:20px; width:98%'><b><i class='material-icons left'>portrait</i>Je n'ai pas de compte</b></a>
            <a href="{% url 'pwb:home' %}" class="btn btn-flat transparent black-text z-depth-0"><i class="material-icons left">home</i>Retourner a l'acceuil</a>

        </center>
    </div -->
</div>


<script type="text/javascript">
    $(function(e){
        $("#form_perform_new_password").on("submit",function(e){
            e.preventDefault();
            var redirect_url='{{ request.GET.request }}';
            var url_action=$(this).attr("action");
            var form_data=new FormData(this);
            $("#pageloader").fadeIn();
            $.ajax({
            url:url_action,
            method: "POST",
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            dataType: "json",
            success:function(result){
                $("#pageloader").fadeOut();
                display_result(result);
                if(result["redirect"]!=undefined){
                    window.location.replace(result["redirect"]);
                }
            },
            error:function(result){
                $("#pageloader").fadeOut();
                display_result(result);
            }
            });
            return false;
        })
    });
</script>
</body>

</html>
