{% load static %}
{% load i18n %}
<!doctype html>
<html>
<head>
    <title class="fup">{% trans "nouveau mot de passe" %}</title>
{% include "base_site/base_css_js.html" %}
</head>
<body class='my-blue'  style="background-image:url('{% static 'base_site/images/general/background.png' %}'); background-repeat:reapeat;">
<!--loader for my form-->
<div id='pageloader'>
    <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<!--end loader -->
<div class="row">
<div class='col l4 offset-l4 m6 offset-m2 s10 offset-s1 left-align'>
            <br />
            <br />
            
           <a href=''>
                <img src="{% static 'shared/images/general/protogons_logo_blanc.png' %}" style='width:100px !important; height:auto !important' />
            </a>
            <br />
            <span class='white-text' style='font-size:25px'><b class="fup">{% trans "demande d'un nouveau mot de passe" %}</b></span>
           </div>
    <div class='col s12 center-align'>
   
    </div>

</div>
<div class="row signin-up">

    <div class="col l4 offset-l4 m6 offset-m2 s10 offset-s1 z-depth-1 white fup">
        {% trans "veuillez saisir votre addresse émail dans le champ ci dessous:" %}
        <form action="{% url 'pemailpwdreset' %}" id ="form_resquest_new_password" method="post">
            {% csrf_token %}
            <div class='row'>
                <div class='input-field col s12'>
                    <b class='prefix'>@</b>
                    <input type='email' required='required' name='email' id='email' class='validate' />
                    <label for='email' class="fup">{% trans "émail" %}</label>
                </div>
                <br />
                <div class='col s12'>
                    <button type='submit' class='btn btn-large my-orange z-depth-1 input-text rounded'>
                        {% trans "envoie du code de réinitialisation" %}
                    </button>
                    <br />

                </div>
            </div>
        </form>
        <a href="{% url 'signup'  %}" class='b' style='font-size:20px'><b class="fup">{% trans "je n'ai pas de compte" %}</b></a>
        <br />
</div>
       
</div>


<script type="text/javascript">
    $(function(e){
        $("#form_resquest_new_password").on("submit",function(e){
            e.preventDefault();
            var redirect_url='';
            var url_action=$(this).attr("action");
            var email=$("#email").val().trim();
            var form_data=new FormData(this);
            $("#pageloader").fadeIn();
            $.ajax({
            url:url_action,
            method: "POST",
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            dataType: "json",
            success:function(result){
                $("#pageloader").fadeOut();
                display_result(result);
                if(result["status"]==true){
                    window.location.replace("{% url 'pwdcodeconfirm' %}?email="+email);
                }
            },
            error:function(result){
                $("#pageloader").fadeOut();
              alert("erreur");
            }
            })
            return false;
        })
    });
</script>
</body>

</html>
