{% extends "base_site/base.html" %}
{% load i18n %}
{% block content %}

<div class='header-2 my-blue'>
    
</div>

<div class='row' style='padding:14px 0px 14px 0px'>
<form method="post" action="{% url 'pchangepwd' %}" class='col white l4 offset-l4 m5 offset-m3 s10 offset-s1 z-depth-1' id="form_edit_password">
    {% csrf_token %}
        <h4 class="fup">{% trans "changer de mot de passe" %}</h4>
        <div class='divider'></div>
        <br />
        <div class='input-field'>
            <input type='password' id='password' name='password' placeholder='Mot de passe actuelle' value="" />
            <label for="password" class="fup">{% trans "votre ancien mot de passe:" %}</label>
        </div>
        <div class='input-field'>
            <input type='password' id='new_password' name='new_password' placeholder='Nouveau mot de passe' value="" />
            <label for="password2" class="fup">{% trans "nouveau mot de passe:" %}</label>
        </div>
        <div class='input-field'>
            <input type='password' id='new_password_c' name='new_password_c' placeholder='Confirmer le nouveau mot de passe' value="" />
            <label for="password2c" class="fup">{% trans "confirmez votre mot de passe:" %}</label>
        </div>
        
    <button type='submit' class="btn btn-large my-blue fup">{% trans "changer" %}</button>
    <br />
    <br />
    </form>
</div>

<script type='text/javascript'>
    $(function(e){
        $("#form_edit_password").on("submit",function(e){
            e.preventDefault();
            var user_data=new FormData(this);
            $("#pageloader").fadeIn();
            $.ajax({
                url:$(this).attr("action"),
            method: "POST",
            data: user_data,
            contentType: false,
            cache: false,
            processData: false,
            dataType: "json",
            success:function(result){
                var pso='mid-center';
                $("#pageloader").fadeOut();
                display_result(result);
            },
            error:function(result){
                $("#pageloader").fadeOut();
               
            }
        })
        });
    });
  
</script>

{% endblock content %}