{% load static %}
<html>
    <head>
        <title>Renitialisation de mot de passe</title>
       
    </head>
    <body>
    <div class="container-fluid main-color text-center shadow">
        <br />
       <img src="{% static 'images/logo/logo_anavi_blanc.png' %}" height="60px" />
        <br />
        <br />
    </div>
    <br />
    <br />
    <div class="container" style="font-size:25px">

        Hey,<b>{{ name }}</b><br />
        <br />
        Vous avez demandez a renitialiser votre mot de passe. Veuillez cliquer sur le lien ci dessous
        ou entrez le code dans le champ approprié.
        <br />
        <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'ppwdcodeconfirm' %}?email={{ email }}&code={{ code }}">Renitialiser</a>
         <br />
        <br />
        <b>Code: {{ code }}</b>
       
    </div>
    <br />
    <br />
    <div class="container-fluid border-top">
        <br />
        <br />
        <div class="container">
            <h4>
                <b>Suivez nous sur: Facebook, Twitter, Instagram, github</b>
            </h4>
              
        </div>
      
    </div>
    </body>
</html>